.photo-gallery-container {
    position: relative;
    padding-top: 50px;
}

.page-info-container {
    text-align: center;
}

.page-info {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
    border: 2px solid #007BFF;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #F0F8FF;
}

.nav-button {
    position: absolute;
    top: 10px;
    background-color: transparent;
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #007BFF;
    color: white;
}

.nav-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.nav-button:disabled:hover {
    background-color: transparent;
    color: #007BFF;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.photos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 40px;
}

.loading-text {
    text-align: center;
    font-size: 18px;
    color: #007BFF;
    margin-top: 50px;
}

.error-text {
    text-align: center;
    font-size: 18px;
    color: red;
    margin-top: 50px;
}
